div.jumbotron.carousel-hero {
  color:#fff;
  text-align:center;
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:100px;
  margin-bottom:0;
  border-color: rgba(#808080, 0.96);
}
/*div.jumbotron.hero-nature {
  background-image:url('');
}

div.jumbotron.hero-photography {
  background-image:url('');
}

div.jumbotron.hero-technology {
  background-image:url('');
}*/

h2.hero-title {
  text-shadow:0 5px 5px rgba(0,0,0,0.4);
  color:#fff;
  font-size: 4em;
  font-family: 'Overpass', sans-serif;
}

p.hero-subtitle {
  max-width:auto;
  margin:25px auto;
  padding:10px 15px;
  color:#fff;
  background-color: rgba(#777777, 0.76) !important;
}
