main .countdown {
  margin-top: 50px;
  text-align: center;
}
main .countdown h2{
	font-size: 3rem!important;
}
@media (max-width: 600px){
  main .countdown h2{
    font-size: 2rem;
  }
}
main .countdown-label {
  margin-top: 10px;
  font-size: 36px;
  font-weight: 300;
}
main .countdown-number {
  font-size: 92px !important;
  line-height: 1;
  font-weight: 200;
}
@media (max-width: 991px) {
  main .countdown-number {
    font-size: 30px;
  }
}
@media (max-width: 600px){
  main .countdown-number{
    font-size: 3rem !important;
  }
  main .countdown-label {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 300;
  }
}
