@import url('https://fonts.googleapis.com/css?family=Economica|Overpass');
/*font-family: 'Economica', sans-serif;
  font-family: 'Overpass', sans-serif;*/

html, body {
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	background-color: #f0f0f0;
	color: #212121;
}
main{
	background-color: #FFF;
	padding-top: 20px;
}
h1 {
	text-align: center;
}
/* ADMIN FORMS */
.adminform{
	padding-top: 20px;
}
/* Articles Sidebar*/
.sidebar-custom{
	background-color: rgba(80, 80, 83, 0.11);
	border-color: #000;
	border-radius: 5px;
	padding-bottom: : 5px;
}

/* home hidden sur div class audio */
.audio {
	visibility: hidden;
}

/* Responsive pour iframe */
.iframe-responsive-wrapper        {
    position: relative;
}
.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}
.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.input-group{
    border-radius: 5px;
    box-shadow: 0px 0px 6px darkgrey;
}

.form-group{
    text-align: center;
}

.tab-content{
    padding: 40px;
}

::-webkit-input-placeholder{text-align: center;}

input[type='value'] { text-align: center;}​

/*-----------------------
    ERROR 403 & 404
-------------------------*/
.error403{
    background-image: url('../../public/assets/img/errors/error2.jpg');
}

.error404{
    padding: 30px;

    margin-left: auto;
    margin-right: auto;

    background: -webkit-linear-gradient(black, #00cc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    transition: all 1s;
}

.error404 .error1{
    box-shadow:0px 0px 35px black;
    margin: 40px;
    transition: all 1s;
}

.gauche{
    height: 100px;
    width: auto;
    float: left;
}

.droite{
    height: 100px;
    width: auto;
    float: right;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*-------------------------
    FIN ERROR 403 & 404
---------------------------*/

/*-------------------------
    DEBUT CSS CALENDRIER
---------------------------*/
.cal-context{
  background: url('../img/forcalendar.png') no-repeat center;
}
/*-------------------------
    FIN CSS CALENDRIER
---------------------------*/
