@import url('https://fonts.googleapis.com/css?family=Economica|Overpass');
/*font-family: 'Economica', sans-serif;
  font-family: 'Overpass', sans-serif;*/

html, body {
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	background-color: #f0f0f0;
	color: #212121;
}
.container {
	text-align: center;
}
/* Articles Sidebar*/
sidebar-custom{
	background-color: #fff;
}
/* Responsive pour iframe */
.iframe-responsive-wrapper        {
    position: relative;
}
.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}
.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------------------
        ADMIN
-------------------------*/
.admin {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.admin a{
    margin:15px; 
    margin-top: 40px;

    font-weight: bolder;
    font-size: 40px;

    height: 100px;
    width: auto;

    padding: 20px;

    display: inline-block;
    text-align: center;
    border: solid 1px #A6E22E;
    transition: all 0.5s;
}

.admin a:hover{
    margin:15px; 
    margin-top: 40px;

    border: solid 1px #A6E22E;
    background-color: #A6E22E;

    text-transform: none;
    text-decoration: none;
}

.admin a:focus{
    margin:15px; 
    font-weight: bolder;
    font-size: 40px;

    height: 100px;
    width: auto;

    padding: 20px;

    border: solid 1px #009900;
    background-color: #009900;
    
    text-transform: none;
    text-decoration: none;
}

.adminForm{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

/*-----------------------
       FIN  ADMIN
-------------------------*/

/*-----------------------
    ERROR 403 & 404
-------------------------*/
.error403{
    background-image: url('../../public/assets/img/errors/error2.jpg');
}

.error404{
    padding: 30px;

    margin-left: auto;
    margin-right: auto;

    background: -webkit-linear-gradient(black, #00cc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    transition: all 1s;
}

.error404 .error1{
    box-shadow:0px 0px 35px black;
    margin: 40px;
    transition: all 1s;
}

.gauche{
    height: 100px;
    width: auto;
    float: left;
}

.droite{
    height: 100px;
    width: auto;
    float: right;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
/*-------------------------
    FIN ERROR 403 & 404
---------------------------*/