/*---------------------
	GLOBALE
--------------------*/
{
	margin:0px;
	padding:0px;
	outline:none;
	border:none;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style-type:none;
}
html{
	font-size:62.5%;
}




/*---------------------
	HEADER
--------------------*/








/*---------------------
	CONTENUE
--------------------*/






/*---------------------
	FOOTER
--------------------*/




